/* .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} */

.content {
    display: flex;
    flex-direction: column; /* Default to column for mobile */
    width: 100%;
    padding: 20px; /* Adjust as needed */
}

.search-container {
    flex: 3; /* Takes more space on desktop */
    display: flex;
    flex-direction: column;
    padding-right: 20px; /* Adds separation between search and results */
}

.search_title{
    margin-top: 1em;
}

.results_title{
    margin-top: 1em;
}

.loading-container {
    height: 100px;
    display: flex;
    width: 100px;
}

.ResolutionSlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.ExperimentalModalitySelector{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.NucleicAcidSelector{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.NASlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;

}

.ProteinSlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.YearRangeSlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.MolecularWeightSlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}
  
.horizontal_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal_container_2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SearchTextField{
    margin-bottom: 3em;
    margin-top: 1em;
}

/* .QueryResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3em;
    text-align: center;
} */


.QueryResults {
    flex: 2; /* Takes lesser space than search on desktop */
    width: 100%; /* Full width on mobile */
}

@media (min-width: 768px) {
    .content {
        flex-direction: row; /* Switch to row layout for desktop */
    }
    .search-container,
    .QueryResults {
        flex-direction: column;
        align-items: stretch; /* Stretch child elements full width */
    }
}

@media (max-width: 768px) {
    .search-container {
        padding-right: 0; /* Remove padding on mobile */
    }
}