.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center; /* Keeps the content centered horizontally */
    /* Remove height: 100vh to allow the container to grow with the content */
}

.ResolutionSlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.ExperimentalModalitySelector{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}

.NASlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;

}

.ProteinSlider{
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the slider and its label centered horizontally */
    width: 100%; /* Ensures the slider takes the full width if needed */
    margin: 3em; /* Adds some space between the title and the slider */
    text-align: center;
}
  
.horizontal_container{
    display: flex;
    flex-direction: row;
}

.SearchTextField{
    margin-bottom: 3em;
}