.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.search-container {
    flex: 1; /* Adjust this to change the proportion */
    max-width: 30%; /* Set a maximum width for the left column */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    padding: 10px; /* Optional padding for better spacing */
}

.search_title{
    margin-top: 1em;
}

.results_title{
    margin-top: 1em;
}

.loading-container {
    height: 100px;
    display: flex;
    width: 100px;
}

/* Each search control fills the width of its container */
.SearchTextField, .NucleicAcidSelector, .ExperimentalModalitySelector,
.ResolutionSlider, .YearRangeSlider, .NASlider, .ProteinSlider,
.MolecularWeightSlider {
    width: 100%; /* Each element takes full width of its container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center each element vertically */
    margin-bottom: 20px; /* Adds bottom margin for spacing */
}

.SearchTextField {
    max-width: 100%; /* Utilize the full width available */
}

.QueryResults {
    flex: 3; /* Takes up remaining space */
    width: 70%; /* Corresponding width */
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .search-container,
    .QueryResults {
        width: 100%; /* Full width on mobile */
        max-width: none; /* Override any max-width set */
    }
}
