.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.column {
  flex: 1;
  padding: 2rem;
  background: white;
  border: 1px solid #fff;
}
#right_column{
 margin-left: auto;
 padding:1rem;
  margin-right: auto;
  text-align: center;
}
svg{
  flex: 1;
  background: white;
  border: 1px solid #000;
  border-width: 2px 1px 1px 2px;
}
iframe#webpack-dev-server-client-overlay { display: none; } 

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.tabs .active-tab {
  background-color: #ddd;
}

.download-buttons {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center align the buttons horizontally */
  margin-top: 20px; /* Add some top margin */
}

.download-buttons button {
background-color: #007bff; /* Blue background color */
color: #fff; /* White text color */
border: none; /* Remove border */
padding: 10px 20px; /* Add padding */
font-size: 16px; /* Increase font size */
cursor: pointer; /* Add cursor pointer on hover */
margin: 0 10px; /* Add margin between buttons */
}

.download-buttons button:hover {
background-color: #0056b3; /* Darker blue on hover */
}