.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.column {
  flex: 1;
  padding: 2rem;
  background: white;
  border: 1px solid #fff;
}
#right_column{
 margin-left: auto;
 padding:1rem;
  margin-right: auto;
  text-align: center;
}
svg{
  flex: 1;
  background: white;
  border: 1px solid #000;
  border-width: 2px 1px 1px 2px;
}
iframe#webpack-dev-server-client-overlay { display: none; } 

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.tabs .active-tab {
  background-color: #ddd;
}

.download-buttons {
  display: flex; /* Use flexbox layout */
  justify-content: space-around; /* Space out the sections evenly */
  margin-top: 20px; /* Add some top margin */
  margin-bottom: 20px; /* Add some bottom margin */
}

.download-buttons .dropdown {
  position: relative; /* Needed for dropdown positioning */
  display: inline-block; /* Inline block for proper spacing */
}

.download-buttons .dropdown-content {
  display: none; /* Hide the dropdown content initially */
  position: absolute; /* Position the dropdown content absolutely */
  background-color: #f1f1f1; /* Background color for the dropdown */
  min-width: 160px; /* Minimum width for the dropdown */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add shadow */
  z-index: 1; /* Ensure it appears above other content */
}

.download-buttons .dropdown-content button {
  background-color: #f1f1f1; /* White background color */
  color: black; /* Black text color */
  border: 1px solid #f1f1f1; /* Light gray border */
  padding: 10px 20px; /* Add padding */
  text-align: left; /* Align text to the left */
  text-decoration: none; /* Remove text decoration */
  display: block; /* Display block for full width clickable area */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.download-buttons .dropdown-content button:hover {
  background-color: #ddd; /* Light gray on hover */
}

.download-buttons .dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown content on hover */
}

.download-buttons .dropdown button {
  background-color: #f1f1f1; /* White background color */
  color: black; /* Black text color */
  border: 1px solid #f1f1f1; /* Light gray border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Add cursor pointer on hover */
  border-radius: 4px; /* Add border radius */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.download-buttons .dropdown button:hover {
  background-color: #ddd; /* Light gray on hover */
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-container label {
  margin-right: 10px;
}

.slider-container input[type="range"] {
  margin-right: 10px;
}

.algorithm-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #ddd;
}
