.electro-div{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.electroSelect {
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ecf9f9;
    color: #333;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Styling for dropdown hover and focus state */
  .electroSelect:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .electroSelect:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.7);
  }
  
  /* Styling for dropdown options */
  .electro-div option {
    padding: 10px;
    background-color: #fff;
    color: #333;
  }
  .run-el-btn{
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  .run-el-btn:hover {
    background-color: #D0D0D7;  
    }

    .button4 {
      padding: 10px 20px;
      border: none;
      background-color: #f1f1f1;
      border-radius: 5px;
      margin: 0 10px 10px 0; /* Right margin for spacing between buttons, and bottom margin for spacing from the textarea */
      cursor: pointer;
    }
    
    .button4:hover {
      background-color: #D0D0D7;
    }

    .electrostatics-iframe {
      height: 1000px;
      max-height: 100vh; /* Limits height to the viewport height if 1000px is too large */
      width: 100%; /* Ensures it takes up full width */
      border: 1px solid black; /* Matches the inline style */
      box-sizing: border-box; /* Ensures padding and border are included in width/height */
    }