.loading-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100px;
    height: 100px;
}

.bg-body-tertiary{
    background-color: #333 !important;
}

.main-nav-bar,
.main-nav-bar p,
.main-nav-bar h1,
.main-nav-bar h2,
.main-nav-bar h3,
.main-nav-bar h4,
.main-nav-bar h5,
.main-nav-bar h6,
.main-nav-bar a,
.main-nav-bar span {
    color: white !important;
}

.search-not-found::placeholder {
    color: red;
}

.search-not-found {
    border-color: red;
}
