.sequence-present { 
    font-family: "Courier New",monospace; 
    display: inline-block;
    background-color: transparent;
    }
.sequence-present:hover {
    background-color: #aec7e8;
    cursor: pointer;
    }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#horizontal-center {
  
  position: relative;
  left: 70%;
  top: 50%;
  transform: translate(-50%,0%);
}
