.top-row {
  display: grid;
  grid-template-columns: 7fr 1fr; /* 2 columns: title (h1+h2) and the search bar */
  grid-template-rows: 1fr; /* 1 row */
  background: #333;
  color: #fff;
  padding: 1rem;
  align-items: center; 
}




